<header class="py-8 relative">
	<h1 class="text-5xl text-center mb-4">Hola, soy Bobby.</h1>
	<div class="flex justify-center mb-4">
		<hd-wallet-multi-button></hd-wallet-multi-button>
	</div>

	@if (account()) {
		<div class ="absolute top-4 left-4 flex justify-center items-center gap-2">
			<img [src]="account()?.info?.image" class = "w-8 h-8" />
			<p class="text-xl">{{ account()?.balance }}</p>
		</div>
	}

	<!-- <nav>
		<ul class="flex justify-center items-center gap-4">
			<li>
				<a [routerLink]="['']" mat-raised-button>Home</a>
			</li>
			<li>
				<a [routerLink]="['balance']" mat-raised-button>Balance</a>
			</li>
			<li>
				<a [routerLink]="['transactions']" mat-raised-button>Transactions</a>
			</li>
		</ul>
	</nav> -->
</header>

<main>
	<router-outlet></router-outlet>
</main>